.jquery-div {
  background-color: red;
  position: relative;
  height: 105px;
  width: 260px;
}




body, html {
  height: 100%;
  margin: 0;
}
.sky {
  background: #91bbfc;
  color: white;
  height: 100%;
  padding-top: 10%;
  font-size: 500%;
  text-align: center;
}

.random {

}
