<div class="container">
  <h1  id="word1">Kevin Suarez</h1>
  <h2  id="word2">
    Here's a <a class="floaty-link" href="https://docs.google.com/document/d/1aCtvUHg1tiXJcKtDVoSlsUGqZJdhTvBqpNlznNOvJSM/edit?usp=sharing" target="_blank">resume</a>, <br> and some contact info
  </h2>
  <h3 id="word3">
    is an artist, traveler, and developer
  </h3>
  <img src="assets/sparkle-big.png" alt="star"  class="soft-bounce" id="star1">
  <img src="assets/sparkle-med.png" alt="star"  class="soft-bounce" id="star2">
  <img src="assets/sparkle-small.png" alt="star"  class="soft-bounce" id="star3">
  <img src="assets/sparkle-big.png" alt="star"  class="soft-bounce" id="star4">
  <img src="assets/sparkle-med.png" alt="star"  class="soft-bounce" id="star5">
  <img src="assets/sparkle-small.png" alt="star"  class="soft-bounce" id="star6">

  <svg width="100%" height="100%">
    <circle class="orbit-back" id="sub-moon-back"/>
    <circle class="moon"/>
    <circle class="orbit-front" id="sub-moon-front"/>
    <circle class="world"/>

    <rect class="slow-drift" id="shadow1"/>
    <rect class="slow-drift" id="cloud1"/>

    <rect class="slow-drift" id="shadow2"/>
    <rect class="slow-drift" id="cloud2"/>

    <rect class="slow-drift" id="shadow3"/>
    <rect class="slow-drift" id="cloud3"/>

    <rect class="slow-drift" id="shadow4"/>
    <rect class="slow-drift" id="cloud4"/>
  </svg>


</div>
