.container {
  height: 100%;
  width: 100%;
}


.soft-bounce {

animation-name: bob;
animation-duration: 3s;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-timing-function: ease-in;
}

.slow-drift {
  animation-name: drift;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  transition: transform 2s;
}

.slow-drift.hide {
  animation: none;
  transform: translate(0%, 100%)
  /* animation-name: hide-down;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  transition: transform 2s; */
}

.soft-bounce.hide {
  animation: none;
  transform: translate(0%, 1000%)
}

.tiny-drift {
  animation-name: tinydrift;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}



.orbit-front {
  animation-name: orbit-disappear;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

}

.orbit-front.full {
  animation-name: orbit-disappear-close;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

}

.orbit-back.full {
  animation-name: orbit-close;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;


}

.orbit-back {
  animation-name: orbit;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;

}

.word1 {
  font-family: Roboto;
  font-size: 1000%;
  color: #fff;
  position: absolute;
  bottom: 75%;
  left: 5%;
  z-index: 0;
  margin: 0;
  transition: transform 2s;
}

.word1.rise {
  transform: translate(0%, -100%)
}

.words {
  font-family: Roboto;
  font-size: 450%;
  color: #fff;
  text-shadow: 3px 3px 3px #000000;
  position: absolute;
  z-index: 0;
  margin: 0;
  transition: transform 2s;
}



#word3 {
  bottom: 42%;
  left: 70%;

  animation-timing-function: ease-in;
  animation: bob 5s alternate infinite;
  -webkit-animation: bob 5s alternate infinite;
  -moz-animation: bob 5s alternate infinite;
  animation-delay: 0s;
}

#word4 {
  bottom: 30%;
  left: 70%;


  animation-timing-function: ease-in;
  animation: bob 4s alternate infinite;
  -webkit-animation: bob 4s alternate infinite;
  -moz-animation: bob 4s alternate infinite;
  animation-delay: .5s;
}

#word5 {
  bottom: 20%;
  left: 70%;

  animation-timing-function: ease-in;
  animation: bob 4s alternate infinite;
  -webkit-animation: bob 4s alternate infinite;
  -moz-animation: bob 4s alternate infinite;
  animation-delay: 1s;
}

#word2 {
  width: 50%;
  font-family: Roboto;
  animation-delay: .3s;
  font-size: 500%;
  color: #fff;
  text-shadow: 3px 3px 3px #000000;
  position: absolute;
  top: 30%;
  left: 5%;
  z-index: 0;
  margin: 0;
}

.words.hang-right {
  transform: translate(200%, 0%)
}

.words.hang-left {
  transform: translate(-200%, 0%)
}

.floaty-link {
  animation-name: bob;
  text-decoration: none;
  color: inherit;
}

#star1 {
  animation-delay: .5s;
  position: absolute;
  bottom: 15%;
  left: 20%;
  width: 10%;
  height: 20%;
  z-index: 1;
}

#star2 {
  animation-delay: .2s;
  position: absolute;
  bottom: 14%;
  left: 15%;
  width: 6%;
  height: 12%;
  z-index: 1;
}
#star3 {
  animation-delay: .4s;
  position: absolute;
  bottom: 10%;
  left: 20%;
  width: 4%;
  height: 8%;
  z-index: 1;
}

#star4 {
  animation-delay: .5s;
  position: absolute;
  top: 15%;
  right: 20%;
  width: 10%;
  height: 20%;
  z-index: 1;
}

#star5 {
  animation-delay: .2s;
  position: absolute;
  top: 14%;
  right: 15%;
  width: 6%;
  height: 12%;
  z-index: 1;
}
#star6 {
  animation-delay: .4s;
  position: absolute;
  top: 10%;
  right: 20%;
  width: 4%;
  height: 8%;
  z-index: 1;
}

.world {
  cx: 50%;
  cy: 185%;
  r: 87%;
  fill: #004665;
  transition: transform 2s;
}

.world.fall {
  transform: translate(0%, 100%)
}



.moon {
  cx: 85%;
  cy: 15%;
  r: 7%;
  fill: #007569;
  transition: transform 2s;
}

.moon.full {
  transform: translate(-250%, 0%) scale(3.5);

}

#sub-moon-front {
  cx: 78%;
  cy: 25%;
  r: 2%;
  fill: #28434e;
}

#sub-moon-back {
  cx: 78%;
  cy: 25%;
  r: 2%;
  fill: #28434e;
}

#cloud1 {
  x: 12%;
  y: 70%;
  height: 50px;
  width: 160px;
  rx: 25px;
  fill: white;
}
#shadow1 {
  x: 12%;
  y: 80%;
  height: 50px;
  width: 160px;
  rx: 25px;
  fill: #01344a;
}

#cloud2 {
  animation-delay: .3s;
  x: 20%;
  y: 80%;
  height: 50px;
  width: 160px;
  rx: 25px;
  fill: white;
}
#shadow2 {
  animation-delay: .3s;
  x: 20%;
  y: 90%;
  height: 50px;
  width: 160px;
  rx: 25px;
  fill: #01344a;
}

#cloud3 {
  animation-delay: 1.7s;
  x: 60%;
  y: 65%;
  height: 50px;
  width: 160px;
  rx: 25px;
  fill: white;
}
#shadow3 {
  animation-delay: 1.7s;
  x: 60%;
  y: 75%;
  height: 50px;
  width: 160px;
  rx: 25px;
  fill: #01344a;
}

#cloud4 {
  animation-delay: 1.5s;
  x: 80%;
  y: 85%;
  height: 50px;
  width: 160px;
  rx: 25px;
  fill: white;
}
#shadow4 {
  animation-delay: 1.5s;
  x: 80%;
  y: 95%;
  height: 50px;
  width: 160px;
  rx: 25px;
  fill: #01344a;
}


.moon-text{
  font-family: Roboto;
  font-size: 90%;
  visibility: hidden;
  transition: transform 2s;
}

.moon-text.close-up {
  visibility: visible;
  transform: translate(-250%, 0%) scale(3.5);
}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes bob {
  0%   {  top:0px;}
  100% {  top:30px;}
}

/* Standard syntax */
@keyframes bob {
  0%   {  -webkit-transform:translateY(0px);}
  100% {  -webkit-transform:translateY(30px);}
}

@keyframes drift {
  0%   {  -webkit-transform:translateX(0px);}
  100% {  -webkit-transform:translateX(50px);}
}

@keyframes tinydrift {
  0%   {  -webkit-transform:translateX(0px);}
  100% {  -webkit-transform:translateX(5px);}
}

@keyframes hide-down {
  0%   {  -webkit-transform:translate(0%, 0%);}
  100% {  -webkit-transform:translate(0%, 100%);}
}



@keyframes orbit-disappear {
  from {
    -webkit-transform:translate(0px, 0px);
    visibility:visible;
  }
 50% {
    -webkit-transform:translate(15%, -20%);
    visibility:hidden;
  }
 to {

    visibility:hidden;
  }
}

@keyframes orbit-disappear-close {
  from {
    -webkit-transform: translate(-128%, 38%) scale(2);
    visibility:visible;
  }
 50% {
   -webkit-transform:translate(-88%, -35%) scale(2);
    visibility:hidden;
  }
 to {
   -webkit-transform:translate(-128%, 38%) scale(2);
    visibility:hidden;
  }

}

@keyframes orbit {
  from {
    -webkit-transform:translate(0px, 0px);
    visibility:visible;
  }
 50% {
   -webkit-transform:translate(15%, -20%);
    visibility:visible;
  }
 to {
    visibility:visible;
  }
}

@keyframes orbit-close {
  from {
    -webkit-transform:translate(-128%, 38%) scale(2);
    visibility:visible;
  }
 50% {
   -webkit-transform:translate(-88%, -35%) scale(2);
    visibility:visible;
  }
 to {
   -webkit-transform:translate(-128%, 38%) scale(2);
    visibility:visible;
  }
}

.black-hole {
	border-radius:50%;
	background-color: black;
	color: white;
	width: 500px;
	height: 500px;
	text-align: center;

  position: fixed;
  top: 10%;
  left: 30%;
  right: 0;
  z-index: 2;

  transition: transform 1s;

	/* animation: shrink 1s alternate ;
  -webkit-animation: shrink 1s alternate ;
  -moz-animation: shrink 1s alternate ; */
}

.black-hole.close {
  transform: scale(0);
}

#hole-text {
  font-family: Roboto;
  padding-top: 35%;
  font-size: 250%;
}

@keyframes grow {
  0%   {
		-webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
	}

  100% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes shrink {
  0%   {
		-webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
	}

  100% {
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
	}
}

.tiny-star {
  position: absolute;
  z-index: 1;
  width: .25%;
  height: .5%;
}

#tiny-star-1 {
  top: 60%;
  left: 20%;
}

#tiny-star-2 {
  top: 40%;
  right: 25%;
}

#tiny-star-3 {
  top: 80%;
  left: 5%;
}

#tiny-star-4 {
  top: 50%;
  right: 50%;
}

#tiny-star-5 {
  top: 10%;
  right: 27%;
}

#tiny-star-6 {
  top: 25%;
  left: 17%;
}

#tiny-star-7 {
  top: 60%;
  right: 7%;
}

#tiny-star-8 {
  top: 35%;
  right: 28%;
}

#tiny-star-9 {
  top: 37%;
  right: 20%;
}

#tiny-star-11 {
  top: 60%;
  left: 10%;
}

#tiny-star-12 {
  top: 55%;
  left: 5%;
}

#tiny-star-13 {
  top: 7%;
  left: 58%;
}

#tiny-star-14 {
  top: 29%;
  left: 60%;
}

#tiny-star-15 {
  top: 82%;
  left: 96%;
}

#tiny-star-16 {
  top: 47%;
  left: 57%;
}

#tiny-star-17 {
  top: 5%;
  left: 22%;
}

#tiny-star-18 {
  top: 22%;
  left: 42%;
}

#tiny-star-19 {
  top: 26%;
  left: 38%;
}
