<div class="container">
  <h1  id="word1">Words</h1>
  <h2  id="word2">and more words</h2>
  <img src="../assets/sparkle-big.png" alt="star"  class="soft-bounce" id="star1">
  <img src="../assets/sparkle-med.png" alt="star"  class="soft-bounce" id="star2">
  <img src="../assets/sparkle-small.png" alt="star"  class="soft-bounce" id="star3">
  <img src="../assets/sparkle-big.png" alt="star"  class="soft-bounce" id="star4">
  <img src="../assets/sparkle-med.png" alt="star"  class="soft-bounce" id="star5">
  <img src="../assets/sparkle-small.png" alt="star"  class="soft-bounce" id="star6">

  <svg width="100%" height="100%">
  <circle class="world" fill="url(#diagonalHatch)"/>
</svg>
</div>
