.container {
  height: 100%;
  width: 100%;
}


.soft-bounce {

 /* Safari 4.0 - 8.0 */
    -webkit-animation-name: example;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;

    animation-name: bob;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

#word1 {
  font-family: Roboto;
  font-size: 1000%;
  color: #fff;
  position: absolute;
  bottom: 75%;
  left: 5%;
  z-index: 0;
  margin: 0;
}

#word2 {
  font-family: Roboto;
  animation-delay: .3s;
  font-size: 700%;
  color: #fff;
  position: absolute;
  bottom: 15%;
  left: 70%;
  z-index: 0;
  margin: 0;
}

#star1 {
  animation-delay: .5s;
  position: absolute;
  bottom: 15%;
  left: 20%;
  width: 10%;
  height: 20%;
  z-index: 1;
}

#star2 {
  animation-delay: .2s;
  position: absolute;
  bottom: 14%;
  left: 15%;
  width: 6%;
  height: 12%;
  z-index: 1;
}
#star3 {
  animation-delay: .4s;
  position: absolute;
  bottom: 10%;
  left: 20%;
  width: 4%;
  height: 8%;
  z-index: 1;
}

#star4 {
  animation-delay: .5s;
  position: absolute;
  top: 15%;
  right: 20%;
  width: 10%;
  height: 20%;
  z-index: 1;
}

#star5 {
  animation-delay: .2s;
  position: absolute;
  top: 14%;
  right: 15%;
  width: 6%;
  height: 12%;
  z-index: 1;
}
#star6 {
  animation-delay: .4s;
  position: absolute;
  top: 10%;
  right: 20%;
  width: 4%;
  height: 8%;
  z-index: 1;
}

.world {
  cx: 50%;
  cy: 185%;
  r: 87%;
  fill: #004665;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes bob {
  0%   {  top:0px;}
  100% {  top:30px;}
}

/* Standard syntax */
@keyframes bob {
  0%   {  -webkit-transform:translateY(0px);}
  100% {  -webkit-transform:translateY(30px);}
}
